In [45]:
print("hello world")

name = "abyy"
age = 19
print(name)
print(age)

name = "prioo"
age = 23.5
print(name)
print(age)

is_genius = True
print(is_genius)

hello world
abyy
19
prioo
23.5
True

In [46]:
your_name = input("what is your name? ")
print("Hello " + your_name) #concatenation

what is your name? elsa
Hello elsa

In [47]:
old_age=input("enter your old age: ")
new_age= int(old_age) + 4 #type conversion
print(new_age)

no = 12
print(float(no)) #type conversion- 12.0

enter your old age: 23
27
12.0

In [48]:
## print sum of two numbers

first = input("enter first number: ")
second = input("enter second number: ")

sum=int(first)+int(second)
print("the sum is " + str(sum))

enter first number: 7
enter second number: 5
the sum is 12

In [49]:
## strings

a = "ArIthMeTic prObLem"
print(a.lower()) #arithmetic problem
print(a.upper()) #ARITHMETIC PROBLEM
print(a) #ArIthMeTic prObLem

print(a.find('T')) #ans-7
print(a.replace("prObLem", "SoLuTion")) #ArIthMeTic SoLuTion
print(a) #ArIthMeTic prObLem
print("Ob" in a) #True

arithmetic problem
ARITHMETIC PROBLEM
ArIthMeTic prObLem
7
ArIthMeTic SoLuTion
ArIthMeTic prObLem
True

In [50]:
## arithmetic operator

print(5 + 3) #8
print(5 - 3) #2
print(5 * 3) #15
print(5 / 3) #1.6666666666666667
print(5 // 3) #1(no decimal)
print(5 % 3) #2
print(5 ** 2) #25

8
2
15
1.6666666666666667
1
2
25

In [51]:
## shortcuts

i=3
print(i) #3
i+=3
print(i) #6
i-=1
print(i) #5
i*=20
print(i) #100
i/=2
print(i) #50.0

3
6
5
100
50.0

In [52]:
## operator precedence
print(4-2*5) #-6

## comparison operator
print(3>4) #False
print(98!=5) #True

## logical operators

-6
False
True